*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif;
    outline: none;
    background-color: #ecf0f3; */
}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg,#f09be2,#fff);
}
.calc{
    height: 450px;
    width: 300px;
    background-color:#fff ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    box-shadow: 0 0 10px #000;
}

.top{
   height: 20%;
   width: 100%;
}
#screen{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    font-size: 50px;
    text-align: right;
    padding-right: 1%;
}
.bottom{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button{
    height: 20%;
    width: 25%;
    border: none;
    background-color: #f7aeeb;
    font-size: 20px;
}
.spec{
    background: #f7d9ef;
}
button:hover{
    background:  #f6cae9;
}